Source: debathena-clients
Section: debathena/base
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3

Package: debathena-clients
Architecture: all
Depends: athena-jot,
 debathena-apparmor-config,
 debathena-athinfo,
 debathena-counterlog,
 debathena-discuss,
 debathena-discuss-emacs,
 debathena-from-config,
 debathena-getcluster,
 debathena-get-message,
 debathena-hesiod-config,
 debathena-hostinfo,
 debathena-kerberos-config,
 debathena-lam,
 debathena-ldap-config,
 debathena-mitmailutils,
 debathena-moira-clients,
 debathena-nmh-config,
 debathena-printing-config,
 debathena-rs,
 debathena-saferm,
 debathena-sendbug,
 debathena-ssh-client-config,
 debathena-ssl-certificates,
 debathena-syncupdate,
 debathena-tex-extras,
 debathena-xcluster,
 debathena-xdsc,
 debathena-zephyr-config,
 finger (>= 0.17-13~),
 tzc,
 ldap-utils,
 ${misc:Depends}
Recommends:  debathena-alpine-config,
 debathena-mutt-config,
Suggests: barnowl
Description: Metapackage providing clients for Athena services
 This package depends on clients for various Athena services.
